
@layer components {
  .dm-fun-spotlight-search {
    padding: 0;
    background-color: transparent;
    box-shadow: 0 0 2rem 0.5rem var(--color-accent);
    display: none;
    flex-direction: column;
    margin: auto;

    &[open] {
      display: flex;

      &:focus-within {
        box-shadow: 0 0 2rem 1rem var(--color-accent);
      }

      .modal-box {
        display: flex;
        transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        translate: 0 0 !important;
        scale: 1 !important;
        opacity: 1 !important;

        @starting-style {
          translate: 0 0 !important;
          scale: 2 !important;
          opacity: 1 !important;
        }
      }
    }

    &::backdrop {
      @apply opacity-50 bg-base-200;
    }

    .modal-box {
      display: none;
      width: 80vw !important;
      max-width: 42rem !important;
      background: transparent !important;
      box-shadow: none !important;

      .dm-fun-spotlight-input {
        @apply flex items-center gap-2 input input-primary input-xl;
        min-width: 100%;
        border: none !important;
        border-radius: 0 !important;
        outline: none !important;

        &:focus-within {
          outline-width: 0 !important;
          outline-offset: 0 !important;
        }

        input {
          @apply w-full text-base-content;
          
          &:focus {
            outline-width: 0;
          }
        }
      }

      .dm-fun-spotlight-loading {
        @apply flex items-center justify-center h-6 loading loading-bars loading-sm;
        margin: 0 auto;
      }

      .dm-fun-spotlight-suggestion-list {
        @apply max-h-56 bg-base-100 shadow-lg flex flex-col overflow-auto rounded;

        .dm-fun-spotlight-suggestion-list-item {
          @apply h-8 flex items-center text-base-content bg-base-300 px-4;
          flex: 0 0 2rem;

          &.autocomplete-active {
            @apply bg-primary text-primary-content;
          }
        }

        &:empty {
          display: none;
        }
      }
    }
  }
}
