@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
/* @import "../../../phoenix_duskmoon/priv/static/phoenix_duskmoon.css"; */

.rainbow {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  --opt: 0.2;
  background-image: linear-gradient(
      -55.62deg,
      rgba(255, 0, 0, var(--opt)) 0%,
      rgba(255, 154, 0, var(--opt)) 10%,
      rgba(208, 222, 33, var(--opt)) 20%,
      rgba(79, 220, 74, var(--opt)) 30%,
      rgba(63, 218, 216, var(--opt)) 40%,
      rgba(47, 201, 226, var(--opt)) 50%,
      rgba(28, 127, 238, var(--opt)) 60%,
      rgba(95, 21, 242, var(--opt)) 70%,
      rgba(186, 12, 248, var(--opt)) 80%,
      rgba(251, 7, 217, var(--opt)) 90%,
      rgba(255, 0, 0, var(--opt)) 100%
  );
  background-size: 400%;
  animation: 10s ease-in-out 1s infinite reverse bg-animation;
}

.aniamite-bg {
  background-size: 400%;
  animation: 20s linear 1s infinite alternate bg-animation;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.darkmoon-hero-text {
  text-shadow: #fc0 1px 0 10px;
  transition: all 1s;
  background-image: linear-gradient(to top left,  #fac2b0, #b4e3da);
  background-size: 400%;
  animation: 4s linear 1s infinite alternate bg-animation;
}
.darkmoon-hero-p-text {
  text-shadow: 1px -2px 2px #222a30;
}

app-bar {
  --btn-link: rgb(238, 249, 238);
}

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.lsb-sandbox {
  width: 100%;
  height: fit-content;
}

